{% extends "layouts/back-end/base.njk" %}

{% set active_menu_item = "divers" %}

{% import "components/back-end/pagination.njk" as pagination with context %}
{% import "components/back-end/list-actions.njk" as list_actions %}

{% block javascript %}
    <script type="module" src="/src/scripts/back-end/ChangeColor.js" defer></script>
    <script type="module" src="/src/scripts/back-end/ChangeLogo.js" defer></script>
{% endblock %}

{% block main %}
    <div class="bg-white rounded-2xl shadow-md pb-6">
        <header class="mb-1 p-6 flex justify-between gap-2 lg:flex-row flex-col">
            <div>
                {% include "components/back-end/breadcrumb.njk" %}
                <h2 class="text-4xl">Divers</h2>
            </div>
        </header>
        <div class="pb-4">
            <h2 class="text-center text-lg font-bold mb-4">Changer le logo du footer</h2>
            <div class="text-center">
                <input type="file" id="logo-input" accept="image/*" hidden>
                <button id="upload-logo" class="rounded-full bg-green-500 text-white px-4 py-2 hover:bg-green-600">
                    Sélectionner un logo
                </button>
                <button id="reset-logo" class="rounded-full bg-red-500 text-white px-4 py-2 hover:bg-red-600">
                    Réinitialiser le logo
                </button>
            </div>
        </div>
        <h2 class="text-center text-lg font-bold mb-4">Changer le thème de l'administration</h2>
        <div class="flex justify-center gap-4">
            <button class="theme-btn bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-600" data-theme="degrade-bleu">
                Bleu
            </button>
            <button class="theme-btn bg-red-500 text-white px-4 py-2 rounded-full hover:bg-red-600" data-theme="degrade-rouge">
                Rouge
            </button>
            <button class="theme-btn bg-green-500 text-white px-4 py-2 rounded-full hover:bg-green-600" data-theme="degrade-vert">
                Vert
            </button>
            <button class="theme-btn bg-yellow-500 text-white px-4 py-2 rounded-full hover:bg-yellow-600" data-theme="degrade-jaune">
                Jaune
            </button>
            <button class="theme-btn bg-purple-500 text-white px-4 py-2 rounded-full hover:bg-purple-600" data-theme="degrade-violet">
                Violet
            </button>
            <button class="border-2 border-gray-500 px-4 py-2 rounded-full hover:border-gray-700 transition" id="randomGradient">Aléatoire</button>
        </div>
    </div>
{% endblock %}
