<!DOCTYPE html>
<html lang="fr" class="bg-neutral-50 text-slate-900">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <meta name="theme-color" content="#ffffff"/>

        <title>
            {% set Titre = 'Yann | Kerim' %}
            {% block title %} {{ Titre }} {% endblock %} - SAÉ 501
        </title>

        <link rel="stylesheet" href="/styles/reset.css">
        <link rel="stylesheet" href="/styles/fonts.css">
        <link href="/styles/progression.css" rel="stylesheet">
        <link rel="icon" type="image/jpg" href="/images/cy.jpg">
        {% if NODE_ENV != "development" %}
            <link rel="stylesheet" href="/{{ manifest['style.css'].file }}"/>
        {% endif %}

        {% block head_tags %}
            <meta 
                name="description" 
                content="Bienvenue sur le site de présentation du Bachelor Universitaire de Technologie spécialité Métiers du Multimédia et de l'Internet, appellé également MMI."
            >
        {% endblock %}

        {% block styles %}{% endblock %}
        {% block javascript %}
            <script type="module" src="src/scripts/async-form.js" defer></script>
            <script>
                console.log("script chargé !");
                window.addEventListener("load", function () {
                    let savedLogo = localStorage.getItem("footerLogo");
                    if (savedLogo) {
                        document.getElementById("footer-logo").src = savedLogo; // Applique le logo sauvegardé
                    }
                });
            </script>
        {% endblock %}

        {% if NODE_ENV == "development" %}
            <script type="module" src="/src/scripts/main.frontend.js" defer></script>
        {% else %}
            <script type="module" src="/{{ manifest['src/scripts/main.frontend.js'].file }}" defer></script>
        {% endif %}
    </head>
    <body class="mr-[max(env(safe-area-inset-right),_theme(space.4))] ml-[max(env(safe-area-inset-left),_theme(space.4))]">
        {% include "components/profiler.njk" %}
        
        {% include "components/front-end/navigation.njk" %}
        {% include "components/front-end/hero.njk" %}

        <main class="max-w-[1200px] mx-auto @container/main">
            {% block main %}{% endblock %}
            <footer class="border-y border-gray-400 text-center mx-6 my-3">
                <div class="flex justify-center">
                    <div>
                        <img src="/images/logo-cyu-couleur.svg" alt="Logo" id="footer-logo" class="pr-8">
                    </div>
                    <div class="text-left">
                        <p>Certains texte sont issus de Wikipédia</p>
                        <p><a href="https://fr-fr.facebook.com/CYCergyParisUniversite/">Facebook</a> <a href="https://twitter.com/universitecergy?lang=fr">Twitter</a> <a href="https://www.cyu.fr/">Université CY Paris Université</a> | <a href="#">Remonter</a></p>
                        <p>© 2013-2025 - BUT MMI - CY Paris Université - SAE 501</p>
                    </div>
                </div>
            </footer>
        </main>
    </body>
</html>