{% extends "layouts/front-end/base.njk" %}
{% set page = 'Lieux de vie' %}
{% set bubble_color = "bleu" %}
{% block title %} {{Titre}} {{page}}  {% endblock %}
{% block main %}
<div class="progress-container">
     <div class="progress-bar"></div>
 </div>
    <h2 class="text-2xl font-bold">Lieux de vie</h2>
    <p>Entre les cours, l'université et ses IUT proposent de nombreux lieux de convivialité ou d'idéation. Divers et variés, ils permettent aux étudiants, de toute formation, de découvrir de nouveaux horizons et surtout de rencontrer les étudiants d'autres BUT.</p>
    <div class="flex gap-8 py-8">
        <div class="flex-0">
            <img src="/images/Bleu.jpg" alt="Bibliothèque" class="">
        </div>
        <div class="flex-1">
            <h2 class="text-2xl font-bold">Bibliothèque universitaire</h2>
            <p>La bibliothèque universitaire est un atout indispensable à votre réussite. Elle met à votre disposition des collections (livres, revues, ressources numériques accessibles sur place et à distance) ainsi que des postes informatiques et des espaces de travail.</p>
        </div>
    </div>
    <div class="flex flex-row-reverse gap-8 py-8">
        <div class="flex-0">
            <img src="/images/Bleu.jpg" alt="Restauration" class="">
        </div>
        <div class="flex-1">
            <h2 class="text-2xl font-bold">Se restaurer</h2>
            <p>Les restaurants des CROUS vous permettent de déjeuner pour un tarif social fixé au plus à 3,30€. Pour bénéficier de ce tarif, il vous suffit de présenter votre carte détudiant multiservices.</p>
            <p class="font-bold">Si vous êtes étudiant boursier, vous bénéficiez automatiquement lors de votre passage en caisse du tarif à 1€ pour un repas complet.</p>
        </div>
    </div>
    <div class="flex gap-8 py-8">
        <div class="flex-0">
            <img src="/images/Bleu.jpg" alt="Fablabs" class="">
        </div>
        <div class="flex-1">
            <h2 class="text-2xl font-bold">Réseau des fablabs de CY Cergy Paris Université</h2>
            <p>Intégré au centre d'appui aux enseignements, le réseau des fablabs de CY CErgy Paris Université comprend le fablabs LabBoite de Cergy (Grand centre) et le Faclab de Gennevilliers (site de l'université). Ce réseau permet d'expérimenter, tester et échanger dans des lieux collaboratifs, accueillants, et ouverts à toutes et tous.</p>
        </div>
    </div>

 <script>
    document.addEventListener("DOMContentLoaded", () => {
        const progressBar = document.querySelector(".progress-bar");

        const updateProgress = () => {
            const scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
            const scrollHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
            const scrollProgress = (scrollTop / scrollHeight) * 100;

            progressBar.style.height = scrollProgress + "%";
        };

        updateProgress();
        document.addEventListener("scroll", updateProgress);
    });
</script>

{% endblock %}