{% extends "layouts/front-end/base.njk" %}
{% set page = 'Sur les medias' %}
{% set bubble_color = "rouge" %}
{% block title %} {{Titre}} {{page}}  {% endblock %}

{% block main %}
    <h2 class="text-2xl font-bold">Les actualités et les évènement importants du BUT et de l'IUT CY Paris Université dans les médias</h2>
    <div class="flex gap-8 pb-28 pt-4">
        <div class="flex-1 h-96">
            <P>La nouvelle réforme : le BUT MMI</p>
            <iframe class="w-full h-full" src="https://www.youtube.com/embed/oiEbQF7qfBU" title="Entretien avec Annadouré Roch, chef du département Métiers du multimédia et de l&#39;internet" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="flex-1 h-96">
            <P>Pourquoi étudier à l'IUT CYU ?</p>
            <iframe class="w-full h-full" src="https://www.youtube.com/embed/SyjF4h2Zb7Q" title="Pourquoi étudier à l'IUT de Cergy-Pontoise ? (épisode 4)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <div class="flex gap-8 pb-28">
        <div class="flex-1 h-96">
            <P>Job interview en anglais au département MMI</p>
            <iframe class="w-full h-full" src="https://www.youtube.com/embed/t72pdxpNjyc" title="Job interview DUT MMI Cergy-Pontoise (MMI Sarcelles)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="flex-1 h-96">
            <P>L'importance de l'IUT dans les études supérieures</p>
            <iframe class="w-full h-full" src="https://www.youtube.com/embed/xD4wshE0hEg" title="Les avantages d'un IUT pour des études supérieures" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

{% endblock %}